    <section style="background-color: #232527;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="content">
                        <h1 class="m-2" style="color:aliceblue">Employee Details</h1>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="d-flex m-3" style="float: right;">
                            <!--<form class="d-flex m-2">-->
                                <input class="form-control me-2 no-border" type="search" style="border-radius: 4px"
                                placeholder="Enter Emp Name" aria-label="Search" [(ngModel)]="searchText">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            <!--</form>-->
                        </div>
                </div>
            </div>
        </div>
    </section>


        <section class="mb-3 mt-3">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4" [attr.data-index]="i" *ngFor="let data of RandomData?.results | appFilter:searchText; let i = index">
                                <div style="cursor: pointer;" (click)="open(content)">
                                    <span class="m-1">{{i + 1}}.</span>

                                    <img style= "border-radius: 5%; width:80px; margin:10px; cursor:pointer" class="image" 
                                    id="myImg" src={{data.picture?.large}} alt="picture" placement="top" ngbTooltip={{data.location.country}}>
                            
                                    <span class="m-1">{{data.name.title}}. {{data.name.first}} {{data.name.last}}</span>
                                   
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



<!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Employee Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row" style="overflow-y: scroll; width:fit-content; height:500px">
                <div class="col-md-12" [attr.data-index]="int" *ngFor="let data of RandomData?.results; let int = index">
                    <span class="m-1">{{int + 1}}.</span>
                    <span class="m-1">{{data.name.title}}. {{data.name.first}} {{data.name.last}}</span>
                </div>
                
            </div>
        </div>
    </div>
    
  </ng-template>
  

<ngx-spinner></ngx-spinner>