    <section style="background-color: #232527;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <span (click)="getData()">
                        <h1 class="m-2" style="cursor: pointer; color:aliceblue">Employee Details</h1>
                    </span>
                </div>
                <div class="col-md-4">
                        <div class="d-flex m-3" style="float: right;">
                            <!--<form class="d-flex m-2">-->
                                <input class="form-control me-2 no-border" type="search" style="border-radius: 4px"
                                placeholder="Enter Emp Name" aria-label="Search" [(ngModel)]="searchText">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            <!--</form>-->
                        </div>
                </div>
            </div>
        </div>
    </section>


        <section class="mb-3 mt-3">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4" [attr.data-index]="i" *ngFor="let data of RandomData?.results | appFilter:searchText; let i = index">
                                <div style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <span class="m-1">{{i + 1}}.</span>
                                    <img style= "border-radius: 5%; width:80px; margin:10px; cursor:pointer" class="image" 
                                    id="myImg" src={{data.picture?.large}} alt="picture" placement="top" ngbTooltip={{data.location.country}}>
                                    <span class="m-1">{{data.name.title}}.</span>
                                    <span class="m-1">{{data.name.first}}</span>
                                    <span class="m-0">{{data.name.last}}</span>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            
        </div> 

      </div>
    </div>
  </div>
  

<ngx-spinner></ngx-spinner>